<script setup lang="ts">
import { computed, reactive, ref, watch } from "vue";
const text = ref();
const state = reactive({
  num: 0,
});
watch(state, async (newState) => {
  text.value = "";
  if (!(state.num != 0 || newState.num)) {
    text.value = "Number is not empty!!";
  }
});
const rowList = computed(() => {
  const rows = [];
  let currentRow = 1;
  for (let i = 1; i <= state.num; i++) {
    if (i % 12 === 1) {
      rows[currentRow] = [i];
    } else {
      rows[currentRow].push(i);
    }
    if (i % 12 === 0) currentRow++;
  }
  return rows;
});
</script>

<template>
  <v-container>
    <v-row>
      <v-col>
        <v-text-field
          v-model="state.num"
          label="Please input number"
          required
        />
        <span style="color: red; font-size: smaller">{{ text }}</span>
      </v-col>
    </v-row>
    <v-row
      ><table v-if="state.num > 0" class="">
        <tr v-for="row in rowList" :key="row">
          <td v-for="n in row" :key="n">{{ n }}</td>
        </tr>
      </table>
    </v-row>
  </v-container>
</template>
<style>
table {
  width: 100%;
}
td {
  width: 8.333%; /* 100 / 12 = 8.333 */
  height: 50px;
  text-align: center;
}
</style>
